<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlifXatOpnf7WlA-L4iWt3sECJSxC__Pk</string>
	<key>GCM_SENDER_ID</key>
	<string>697949326531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hardik.SampleObservation</string>
	<key>PROJECT_ID</key>
	<string>swifuifirestore</string>
	<key>STORAGE_BUCKET</key>
	<string>swifuifirestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697949326531:ios:803204743ad16d8a206676</string>
</dict>
</plist>